<h1>Sign In</h1>

<%= form_with(url: sessions_path, method: :post) do |form| %>

	<% flash.each do |key, message| %>
    <div class="<%= key %>">
      <%= message %>
    </div>
  <% end %>
	
	<div>
	  <%= form.label :email %>
	  <%= form.email_field :email %>
	</div>

	<div>
	  <%= form.label :password %>
	  <%= form.password_field :password %>
	</div>

	<div>
  	<%= form.submit 'Sign In' %>
  </div>
<% end %>
