<h1>New Blog</h1>

<%= link_to 'Back to Blogs', blogs_path %>

<%= form_with(model: @blog, url: blogs_path, method: :post) do |form| %>
	<div>
	  <%= form.label :title %>
	  <%= form.text_field :title %>
	</div>

	<div>
	  <%= form.label :content %>
	  <%= form.text_area :content %>
	</div>

	<div>
	  <%= form.submit 'Create Blog' %>
	</div>
<% end %>

